.site-header {
	position: relative;
	z-index: 20;
	height: 100px;
	font-size: 12px;
	border-bottom: 2px solid #ff6700;
	background: #fff;
	color: #b0b0b0;
}

.site-header>.con {
	width: 1226px;
	margin-right: auto;
	margin-left: auto;
	height: 100px;
	overflow: hidden;
}

.header-logo {
	float: left;
	padding: 1px;
}

.header-logo a {
	display: inline-block;
	width: 56px;
	height: 56px;
	background: url(../images/logo-footer.png) no-repeat;
	float: left;
	margin-top: 30px;
}

.header-logo h2 {
	color: #000000;
	float: left;
	font-size: 30px;
	margin-left: 30px;
	line-height: 70px;
	font-weight: normal;
}

.title-info {
	line-height: 130px;
	display: inline-block;
	margin-left: 25px;
}

.left_login {
	float: right;
	line-height: 130px;
	font-size: 13px;
	margin-right: 25px;
}

.page-main {
	padding-top: 38px;
	padding-bottom: 38px;
	background: #F5F5F5;
	zoom: 1;
	overflow: hidden;
}

.page-main .con {
	width: 1226px;
	margin-right: auto;
	margin-left: auto;
	min-height: 230px;
	background: #FFFFFF;
	position: relative;
}

.shop-car table {
	width: 1225px;
}

.sum {
	width: 1225px;
	height: 50px;
	border-top: 30px solid #F5F5F5;
}

.sum_left {
	font-size: 15px;
	float: left;
	margin-left: 75px;
	line-height: 50px;
}

.sum_left a:hover {
	color: #ff6700 !important;
}

.sum_left span {
	display: inline-block;
	margin-left: 5px;
}

.sum_count {
	margin: 0 5px;
	color: #ff6700;
	font-size: 15px;
	display: inline-block;
}

.sum_right {
	float: right;
}

.sum h4 {
	width: 130px;
	float: left;
	font-size: 25px;
	color: #ff6700;
	line-height: 50px;
	margin-left: 50px;
	margin-top: 0px;
	font-weight: normal;
}

.sum h4 i {
	font-size: 14px;
	font-style: normal;
}

.sum .zj {
	font-size: 15px;
	float: left;
	width: 200px;
	height: 50px;
	background: #ff6700;
	color: #fff;
	text-align: center;
	line-height: 50px;
	border: none;
	margin-left: 110px;
}

button {
	cursor: pointer;
	outline: none;
	box-shadow: none;
}

.table thead {
	display: block;
	height: 50px !important;
	line-height: 50px !important;
	border-bottom: 2px solid gainsboro !important;
}

.shop-car thead tr {
	display: block;
	text-align: center;
}

.shop-car th {
	display: inline-block;
	font-size: 15px;
}

.shop-car th:nth-of-type(1) {
	padding: 1px;
	float: left;
	width: 110px;
	margin-left: 18px;
	position: relative;
}

.shop-car th:nth-of-type(2) {
	float: left;
	width: 180px;
}

.shop-car th:nth-of-type(3) {
	float: left;
	width: 314px;
}

.shop-car th:nth-of-type(4) {
	width: 75px;
	margin-right: 80px;
	text-align: center;
	color: #424242;
}

.shop-car th:nth-of-type(5) {
	width: 130px;
	text-align: center;
	color: #424242;
	margin-left: 30px;
	margin-right: 20px;
}

.shop-car th:nth-of-type(6) {
	width:158px;
	margin-right: -28px;
	text-align: center;
}

.shop-car td {
	position: relative;
}

.btn-del {
	width: 60px;
	height: 30px;
	border-radius: 5px;
	background: #ff6700;
	text-align: center;
	line-height: 30px;
	color: white;
	border: none;
}
input[type='checkbox']{
	  width: 20px;
    height: 20px;
    background-color: #fff;
    -webkit-appearance:none;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    outline: none;
    margin-left: -40px;
}
.checkBox  input[type='checkbox']{
    width: 20px;
    height: 20px;
    background-color: #fff;
    -webkit-appearance:none;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    outline: none;
    position: absolute;
    top: 12px;
    left: 5px;
    margin-left: 0px;
}
.checkBox input[type=checkbox]:checked{
   background: url("../images/gou.jpg") no-repeat center;
   background-size:20px 20px ;
}
.check2{
   background: url("../images/gou.jpg") no-repeat center;
   background-size:0px 0px ;
}

.tbox {
	display: block;
	margin-top: 5px;
}

.shop-null {
	text-align: center;
	font-size: 20px;
	border: none !important;
}

.tbox tr {
	display: block;
	border-bottom: 1px solid black;
	margin-top: 10px;
	text-align: center;
}

.tbox td {
	display: inline-block;
	margin-bottom: 5px;
	height: 80px;
	line-height: 80px;
}

.tbox td:nth-of-type(1) {
	float: left;
	width: 110px;
	position: relative;
}

.tbox td:nth-of-type(2) {
	float: left;
	width: 40px;
}

.tbox td:nth-of-type(2) img {
	width: 80px;
	height: 80px;
}

.tbox td:nth-of-type(3) {
	float: left;
	width: 200px;
}

.tbox td:nth-of-type(4) {
	width: 75px;
	margin-right: 150px;
	text-align: center;
	color: #424242;
}

.tbox td:nth-of-type(5) input[type="text"] {
	width: 80px;
	height: 25px;
	border: 1px solid gray;
	text-align: center;
}

.tbox td:nth-of-type(5) a {
	padding: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 27px;
	float: left;
	display: inline-block;
	border: 1px solid gray;
	width: 25px;
	height: 25px;
	line-height: 25px;
	color: #757575;
	font-size: 20px;
	cursor: pointer;
}

.tbox td:nth-of-type(5) a:hover {
	background: gainsboro;
}

.tbox td:nth-of-type(5) a:nth-of-type(2) {
	float: right;
	display: inline-block;
	border: 1px solid gray;
	width: 25px;
	height: 25px;
	line-height: 25px;
	color: #757575;
	font-size: 20px;
}

.tbox td:nth-of-type(5) {
	width: 150px;
	text-align: center;
	color: #424242;
	margin-right: 30px;
	padding: 1px;
}

.tbox td:nth-of-type(6) {
	width: 120px;
	padding-right: 120px;
	text-align: right
}

.tbox input[type="button"] {
	text-align: center;
	width: 70px;
	height: 30px;
	border: 1px solid gray;
	border-radius: 5px;
}

.empty {
	display: none;
	height: 273px;
	padding-left: 558px;
	margin: 85px 40px 50px;
	background: url(../images/cart-empty.png) no-repeat 124px 0;
	color: #b0b0b0;
	overflow: hidden
}

.empty h1 {
	margin-top: 30px;
}

.go-shop {
	display: block;
	width: 240px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	margin-top: 100px;
	background: #ff6700;
}

.cover {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(45, 45, 45, 0.5);
	padding: 0px;
	margin: 0px;
	z-index: 100;
}

.box {
	width: 400px;
	height: 160px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -75px;
	opacity: 1;
	background: white;
}

.title {
	height: 30px;
	background: #ff6700;
	color: #fff;
	cursor: move;
	line-height: 30px;
}

.cover .con {
	font-size: 15px;
	margin-top: 30px;
}

.cover button {
	margin-top: 26px;
	width: 100px;
	height: 30px;
	line-height: 30px;
	color: #FFFFFF;
	background: #ff6700;
	margin-left: 10px;
	border: none;
	border-radius: 10px;
}

.car_more {
	width: 1225px;
	margin: 40px auto;
}

.more_title h3 {
	position: relative;
	margin: 0;
	height: 50px;
	font-size: 30px;
	font-weight: 400;
	color: #757575;
	border-top: 1px solid #e0e0e0;
}

.more_title h3 span {
	position: absolute;
	top: -20px;
	left: 372px;
	height: 40px;
	width: 482px;
	line-height: 40px;
	text-align: center;
	display: block;
	background-color: #f5f5f5;
}

.car_list {
	width: 1225px;
	margin: 0 auto;
}

.car_list ul li {
	width: 234px;
	height: 300px;
	background: #FFFFFF;
	text-align: center;
	margin-right: 11px;
	float: left;
	margin-top: 11px;
	font-size: 15px;
}

.car_list ul li img {
	margin: 40px auto 0px auto;
	height: 100px;
	width: 140px;
}

.car_list ul li dl {
	margin-right: 15px;
}

.sj_name {
	margin-top: 15px;
}

.sj_price {
	color: #ff6700;
	margin-top: 15px;
}

.sj_pl {
	margin-top: 10px;
	color: gray;
	text-align: center;
	position: relative;
}

.sj_pl a {
	display: none;
	color: #fff;
	background: #FF6700;
	width: 118px;
	height: 28px;
	line-height: 28px;
	font-size: 12px;
	position: absolute;
	left: 32px;
	top: -5px;
}