body{
    font-size: 14px;
    font-family: arial,"Hiragino Sans GB", "Microsoft YaHei","微軟正黑體","儷黑 Pro", sans-serif;
    background: #f9f9f9;
    color: #666;
    position: relative;
}
.box{
    width: 854px;
    height:1200px;
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.box>div:nth-child(1){
    width: 786px;
    margin: 0 auto;
}
.log-box{
    width: 49px;
    height: 48px;
    margin: 0 auto 40px auto;
}
.log-box>img{
    width: 100%;
    height: 100%;
}
.title-item{
    text-align: center;
}
.title-item>h4{
    font-size: 30px;
    font-weight: normal;
    line-height: 1.5;
    color: #333;
}
main{
    width: 786px;
    height: 467px;
}
.main-box{
    width: 373px;
    height: 467px;
    margin: 0 auto;
    padding: 30px 0;
    margin-top: -60px !important;
}

h4{
    line-height: 20px;
    padding-bottom: 5px;
    color: #333;
    font-weight: normal;
}
.select-box{
    height: 40px;
    line-height: 40px;
    display: inline-block;
    vertical-align: middle;
    color: #555;
    cursor: pointer;
    zoom: 1;
    box-sizing: content-box;
}
.select-box select{
    float: left;
    width: 329px;
    height: 40px;
    box-sizing: content-box;
    border-color: #BBBBBB;
}
.select-box>div{
    float: right;
    width: 40px;
    height: 42px;
    border: 1px solid #BBBBBB;
}

.access{
    margin:5px 0 15px 0;
}
.tel-title{
    padding: 0;
}
.tel-box{
    height: 42px;
    zoom: 1;
    display: flex;
    margin-bottom: 15px;
}
.tel-box select{
    width: 74px;
    height: 48px;
    border-right: none;
}
.tel-box div{
    width: 258px;
    height: 42px;
}
.tel-box div input{
    width: 100%;
    height: 42px;
}
.request{
    display: flex;
    align-items: flex-end;
    margin-bottom: 5px;
}
.request>span:nth-child(1){
    display: flex;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #ff6700;
    color: #fff;
    justify-content: center;
    align-items: center;
    margin:-1px 5px 0 0 ;
}
.request>span:nth-child(2){
    color: #ff6700;
    font-size: 13px;
}
/*图形验证*/
.Graphical-verification{
    width: 450px;
    height: 40px;
    margin-bottom: 5px;
    display: flex;
}
.Graphical-verification input{
    width: 190px;
    height: 40px;
    padding-left: 5px;
    margin-right: 7px;
}
.Graphical-verification div.Verification{
    width: 137px;
    height: 42px;
    vertical-align: middle;
    border: 1px solid #BBBBBB;
    cursor: pointer;
    text-align: center;
    line-height: 42px;
}
.Verification>span{
    display: inline-block;

}
.Graphical-verification input.Land{
    width: 332px;
}
.margin{
    margin-bottom: 15px;
}
.button-box{
    height: 92px;
    width: 373px;
    margin-left: -15px;
}
.button-box button{
    width: 100%;
    height: 40px;
    background-color: #ff6700;
    outline: none;
    border: 0;
    color: #fff;
    cursor: pointer;
}
.button-box p{
    margin-top: 10px;
    line-height: 20px;
}
.button-box p>span{
    color: #333;
    font-weight: bold;
}
/*隐藏提示信息*/
.place-tel,.request-verification,.request-account,.request-pwd,.request-confirm{
   opacity: 0;
}

